/**********************************************
*** PLAYER
**********************************************/
.player-panel {
  width: 100%;
  float: left;
  height: 600px;
  padding: 100px;
}

.player-name {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}

.player-time {
  top: 60px;
  left: 53%;
  margin-top: 3px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  position: absolute;
}
.player-time-label {
  top: 45px;
  left: 50%;
  margin-top: 0px;
}

.player-remaining-questions {
  top: 45px;
  left: 40%;
  margin-top: 0px;
}

.question-text {
  font-size: 30px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}

.posible-answers-text {
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}

.player-positive-feedback {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  top: 170px;
  color: green;
}
.player-negative-feedback {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  top: 170px;
  color: red;
}

button {
  position: absolute;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  color: #555;
  background: none;
  border: none;
  font-family: Lato;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  font-weight: 600;
}
button:hover i {
  margin-right: 20px;
}

button:focus {
  outline: none;
}

i {
  color: #eb4d4d;
  display: inline-block;
  margin-right: 15px;
  font-size: 32px;
  line-height: 1;
  vertical-align: text-top;
  margin-top: -4px;
  transition: margin 0.3s;
}

.hide {
  display: none;
}
